@use 'sass:math';

$sm: 375px;
$md: 500px;
$lg: 700px;
$xl: 1024px;
$xx: 1300px;

.site {
  // --aH: 0; // num:  0-360
  // --aS: 0%; // perc: 0-100
  // --aL: 0%; // perc  0-100
  // --aA: 100%; // perc:  0-100
  // --accent: hsla(var(--aH), var(--aS), var(--aL), var(--aA));

  // --bH: 0; // num:  0-360
  // --bS: 0%; // perc: 0-100
  // --bL: 0%; // perc  0-100
  // --bA: 100%; // perc:  0-100
  // --background: hsla(var(--bH), var(--bS), var(--bL), var(--bA));

  // --fH: 0; // num:  0-360
  // --fS: 0%; // perc: 0-100
  // --fL: 0%; // perc  0-100
  // --fA: 100%; // perc:  0-100
  // --foreground: hsla(var(--fH), var(--fS), var(--fL), var(--fA));

  // /* Easing Function */
  --time: 600ms;
  --ease: cubic-bezier(0.455, 0.03, 0.515, 0.955);

  /* Breakpoints */
  --sm: #{$sm};
  --md: #{$md};
  --lg: #{$lg};
  --xl: #{$xl};
  --xx: #{$xx};

  --mono: 'S85', monospace;
}

@mixin bp($size: $sm) {
  @media (min-width: $size) {
    @content;
  }
}

@mixin transition() {
  @media screen and (prefers-reduced-motion: no-preference) {
    @content;
  }
}

@function px-from-percent($percentage, $width: 100) {
  @return ($percentage * 0.01) * $width;
}

@function strip-units($number) {
  @return math.div($number, $number * 0 + 1);
}

@function calc-vw($pixel, $container-size: 100) {
  @return math.div(strip-units($pixel), strip-units($container-size)) * 100 +
    0vw;
}

@function calc-leading($leading-in-pixels, $type-size) {
  @return math.div(strip-units($leading-in-pixels), strip-units($type-size));
}

// interpolates type size between min and max
@mixin spacer($type, $min-font-size, $max-font-size) {
  & {
    #{$type}: $min-font-size;

    @media screen and (min-width: $sm) {
      #{$type}: calc(
        #{$min-font-size} + #{strip-units($max-font-size - $min-font-size)} *
          ((100vw - #{$sm}) / #{strip-units($lg - $sm)})
      );
    }

    @media screen and (min-width: $lg) {
      #{$type}: $max-font-size;
    }
  }
}
