.site.isTransitioning {
  // Site-wide
  background-color: var(--background);
  color: var(--foreground);

  @include transition {
    transition: all var(--transition-page);
    transition-property: background-color, color;
  }

  .site-header {
    background-color: hsla(var(--b-h), var(--b-s), calc(var(--b-l) + 7%), 0%);

    @include transition {
      transition: background-color var(--trans-short) var(--ease);
    }
  }

  // Floating Action Button
  ::v-deep .fab__wrapper {
    @include transition {
      transition: background-color var(--transition-page),
        color var(--transition-page);
    }
  }
}
