/*-----------------------------------------------------------------------------
 | Typography.scss
 *-----------------------------------------------------------------------------
 | Globally available typographic helper classes
 *---------------------------------------------------------------------------*/

.t-1 {
  @include fluidScale(12px, $baseline);
  font-variation-settings: 'wght' 450;
  letter-spacing: 0.02em;
}

.t-2 {
  @include fluidScale(15px, $baseline * 1.25);
  font-variation-settings: 'wght' 500;
}

.t-3 {
  @include fluidScale(28px, $baseline * 2);
  letter-spacing: 0.01em;
}

.t-mono {
  font-variation-settings: 'wght' 420, 'MONO' 1, 'ital' 0;
  letter-spacing: 0.1em;
}

.t-center {
  text-align: center;
}
